{% extends "base.html.twig" %}
{% block title %}
FILTRER  {% endblock %}

{% block body %}
    <h1>{% block h1 %}:{% endblock %}</h1>
    <br/><br/>
    <ul>
     {{ nom }} {{ prenom }}</li>
    </ul>
{% endblock %}
