{% extends 'base.html.twig' %}

{% block title %}
Espace administrateur :
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>
Espace administrateur :
    
    </h1>
<lu>
<li><a href=" {{ path('utilisateur_index')  }}">Liste des adhérent :</a></li>

<li><a href=" {{ path('auteur_index')  }}">Liste des abonnés :</a></li>


<li><a href=" {{ path('article_index')  }}">Liste des contactes :</a></li>


<li><a href=" {{ path('categorie_index')  }}">Liste des activitées :</a></li>
</lu>


<h3>A PROPOS ... </h3>
<br/><br/>
<hr/
<br/><br/>
<hr/
<h3>CONTACTEZ NOUS AU NUMERO : +33  ... </h3>

<div>
    <br/><br/>
<hr/>
<br/>
<h3>VEUILLEZ VOUS INSCRIRE !</h3>




</div>
{% endblock %}
