{% extends "base.html.twig" %}

{% block title %} 
Affichage d'une categorie ! {% endblock %}

{% block body %}

<h1> Nouvelle categorie </h1>

<br/><br/>
<hr/>
<br/><br/>

<table class="table border=1">
<tbody>
<thead>
<tr>
<th>id</th>
<th>titre</th>
<th>resume</th>
<th>date</th>
</tr>
</thead>

<tr>
<td>{{ categorie.id }}</td>
<td>{{ categorie.titre }}</td>
<td>{{ categorie.resume }}</td>
<td>{{ categorie.date | date("d/m/Y") }}</td></tr>

</tr>
</tbody>
</table>
{% endblock %}