{% extends "base.html.twig" %}

{% block title %} Nouvel article {% endblock %}

{% block body %}
<h1> Nouvel article </h1>

<br/><br/>

<hr>

<br/>

<div id="table" class="table">
<table border="1">
<tbody>
<thead>
<tr>
<th>id</th>
<th>titre</th>
<th>contenu</th>
<th>date</th>
<th>images</th>
<th>action</th>
</thead>
</tr>
<tr>

</tr>
</div>

{% endblock %}