{% extends 'base.html.twig' %}


{% block title %}
 Enregistrement Utilisateurs
 {% endblock %}

{% block body %}
 <br> <br>
 
    <h1> Enregistrement Utilisateurs </h1>

    {{ include('utilisateur/formulaireUtilisateur.html.twig') }}<br>

    <a href="{{ path('utilisateur_index') }}">Liste des Utilisateurs</a><br>


{% endblock %}
