{% extends 'base.html.twig' %}


{% block title %}
 Enregistrement d'un auteur :
 {% endblock %}

{% block body %}
 <br> <br>
 
    <h1> Enregistrement d'un auteur :</h1>

    {{ include('auteur/formulaireAuteur.html.twig') }}<br>

    <a href="{{ path('auteur_index') }}">Liste des auteur :</a><br>


{% endblock %}
