{% extends 'base.html.twig' %}

{% block title %}
 Enregistrement d'une catégorie :
 {% endblock %}

{% block body %}
 <br> <br>
 
    <h1> Enregistrement d'une catégorie :</h1>

    {{ include('categorie/formulaireCategorie.html.twig') }}<br>

    

{% endblock %}
